#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --onboot=off --ipv6=auto --no-activate
network  --bootproto=dhcp --device=enp0s8 --onboot=off --ipv6=auto
network  --hostname=localhost.localdomain

# Root password
rootpw --iscrypted $6$D/jcP3Fq0V1wr3h/$vBTwckeonoF8oz7xDR8TMZGQ8bDO4ZzpFT6MlbSlK11RxCkp5/yPI98EZ5Gc2yh.sXWdXsz0yu6ciz2/FqnRh1
# System services
services --disabled="chronyd"
# System timezone
timezone Asia/Seoul --isUtc --nontp
user --groups=wheel --name=k8s --password=$6$hh/anZYInU6neWaS$Td2ZQTCR6HwDbe2E9iH3DKX.jadHg0vq2Y89aEXY9s4XwRaicRBCU/mSGCx69VwYf8Y.pm4ee4mU8kRmVdCoT1 --iscrypted --gecos="k8s"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
